@model List<PMS.Harrier.DataAccessLayer.Models.Issue>
<h4>Moje zadania</h4>
<hr />
@if (Model != null && @Model.Any())
{
    foreach (var p in @Model)
    {
        <div style="margin: 5px">
            @Html.ActionLink(p.Title, "IssueDetails", "Project", new { id = p.IssueId }, new { @class = "btn btn-info" })
        </div>

    }
}
else
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        Nie masz zadań do wykonania!
    </div>
}