@{
    ViewBag.Title = "Home - Harrier";
}
<h2>PROJECTS DASHBOARD</h2>
<hr/>
<div class="col-md-5">
    <section>
        @Html.Partial("_workingOnIssues")
    </section>
</div>

<div class="col-md-5">
    @Html.Partial("_watchingIssues")
</div>

<div class="col-md-2">
    @Html.Action("MyProjects")
</div>
