@model PMS.Harrier.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia swojego konta</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Moje konto</dt>
        <dd>
            [
                @Html.ActionLink("Ogólne ustawienia konta", "AccountOverview")
            ]
        </dd>
        <dt>Hasło:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
            ]
        </dd>
    </dl>
</div>
